@charset "utf-8";


#container {
    display: flex;
    align-items: center;
    height: 70vh;
}
/* login */
body{
    height: 100%;
    background-image:linear-gradient(#3C4767, 75%, #ff5e4d);
    min-height: 100vh;
}
.top_page {
    color: #fff;
    display: flex;
    justify-content: center;
}
.login_img {
    height: 100px;
    margin: 40px 0;
}
.social {
    font-size: 25px;
}

/* register */
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin: 0 20px;
}
.login_btn {
    margin: 20px 0;
    height: 30px;
    width: 90px;
    color: #fff;
    position: absolute;
    right: 10px;
}
.register {
    padding: 40px 0 0 0 ;
    font-size: 12px;
}
.register:link,:visited {
    color: #fff;
}
.login_page {
    background: rgba(0,0,0, .3);
    padding: 20px;
    border-radius: 3%;
    position: relative;
}

/* added */
.added_name {
    margin: 25px 0 0 0;
}
.added_list {
    text-align: center;
    line-height: 25px;
}
.welcome_list {
    margin: 0 0 25px 0;
}
.btn {
    padding: 5px;
    background-color: #3C4767;
    border-radius: 5%;
    margin: 20px 25%;
    width: 50%;
}
